<div class="flex items-center justify-center p-4">
    <!-- Previous Page -->
    {% if page_obj.has_previous %}
        <a href="?page={{ page_obj.previous_page_number }}" class="flex size-10 items-center justify-center">
            <svg xmlns="http://www.w3.org/2000/svg" width="18px" height="18px" fill="currentColor" viewBox="0 0 256 256">
                <path d="M165.66,202.34a8,8,0,0,1-11.32,11.32l-80-80a8,8,0,0,1,0-11.32l80-80a8,8,0,0,1,11.32,11.32L91.31,128Z"></path>
            </svg>
        </a>
    {% endif %}

    <!-- Page Numbers -->
    {% for num in page_obj.paginator.page_range %}
        {% if num == page_obj.number %}
            <a class="text-sm font-bold leading-normal tracking-[0.015em] flex size-10 items-center justify-center text-white rounded-full bg-[#1C160C]" href="?page={{ num }}">{{ num }}</a>
        {% else %}
            <a class="text-sm font-normal leading-normal flex size-10 items-center justify-center text-[#1C160C] rounded-full hover:bg-gray-200" href="?page={{ num }}">{{ num }}</a>
        {% endif %}
    {% endfor %}

    <!-- Next Page -->
    {% if page_obj.has_next %}
        <a href="?page={{ page_obj.next_page_number }}" class="flex size-10 items-center justify-center">
            <svg xmlns="http://www.w3.org/2000/svg" width="18px" height="18px" fill="currentColor" viewBox="0 0 256 256">
                <path d="M181.66,133.66l-80,80a8,8,0,0,1-11.32-11.32L164.69,128,90.34,53.66a8,8,0,0,1,11.32-11.32l80,80A8,8,0,0,1,181.66,133.66Z"></path>
            </svg>
        </a>
    {% endif %}
</div>